#Cooja External Tools (User specific)
#Tue Jun 07 12:53:14 GMT 2022
SIMCFG_HISTORY=/home/user/contiki-ng/small.csc;/home/user/contiki-ng/esempio-attacco.csc
HIDE_WARNINGS=true
EXECUTE_JAR_LAST=/home/user/contiki-ng/wormhole_small_attacco.jar
DEFAULT_PROJECTDIRS=
COMPILE_LAST_FILE=[CONTIKI_DIR]/examples/ipv6/rpl-udp/udp-client.c
SHOW_QUICKHELP=true
